*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    font-size: 1.25rem;
}
img{
    width: 100%;
    vertical-align: bottom;
}
.kart{
    position: relative;
}
.sale{
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
}
.cost
{
    display: flex;
    justify-content: center;
}